body > header {
	color: white;
	text-align: center;
	background: url('http://medialab.hva.nl/twc/files/20130411_IMG_4284.jpg') no-repeat center #333;	
	background-size: cover;
	background-color: gray;
	
	.overlay {
		padding: 100px 0;
		background-color: rgba(0,0,0,.9);		
	}
	
	figure {
		display: inline-block;
		position: relative;
		
		.border {
			position: absolute;
			width: 100%;
			height: 100%;
			border: 15px solid rgba(255, 255, 255, .75);
			border-radius: 50%;
		}
		
		img {
			border-radius: 50%;
		}		
	}
	
	h1 {
		margin-top: 50px;
		font-family: Pacifico;
		font-size: 60px;
	}
	
	h2 {
		margin-top: 20px;
		font-family: Montserrat;
	}
	
	.go-down {
		margin-top: 75px;
		color: #999;
		font-size: 40px;
		
		@include animation-duration(2s);
	}
}