body > header {
	padding: 100px 0;
	color: white;
	text-align: center;
	//background: url('http://medialab.hva.nl/twc/files/20130411_IMG_4284.jpg') no-repeat center #333;	
	//background-size: cover;
	background-color: gray;
	
	img {
		border-radius: 50%;
		border: 10px solid white;
	}
}