#main-nav {
	font-family: 'Open Sans';
	font-weight: 300;
	@include border-width(0 0 1px 0);
	border-radius: 0;
	
	ul {
		text-align: center;
	}
	
	li, a {
		display: inline-block;
	}
	
	a {
		padding: 15px;
		color: #777;
		font-size: 16px;
		line-height: 38px;
		
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
		
		&:hover, &:active {			
			color: #555;
			background-color: #e7e7e7;
		}
	}
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
	#main-nav {
		li, a {
			display: block;
		}
		
		a {
			padding: 10px;
			line-height: 18px;
		}
	}
}

@media (min-width: $screen-sm-min) {
	#main-nav {
		& ul, & li {
			float: none;
		}
	}
}