body {
	background-color: $white;
	font-family: $open-sans;
	font-size: 16px;
	color: #6D6D6D;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $montserrat;
	padding-bottom: 5px;
	color: $gray-dark;
}

button {
	padding: 8px 25px;
	color: $gray-dark;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid $gray-dark;
	border-radius: 3px;
	
	-webkit-appearance: none;
	
	&:hover, a.btn:hover {
		color: $white;
		background-color: $gray-dark;
		text-decoration: none;
	}
}

p {
	padding-bottom: 10px;
	line-height: 25px;
}

blockquote {
	color: $white;
	text-align: center;
	border: none;
}