body {
	background-color: $white;
	font-family: $open-sans;
	font-size: 16px;
	color: $main-font-color;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $montserrat;
	padding-bottom: 5px;
	color: $gray-dark;
}

p {
	padding-bottom: 10px;
	line-height: 25px;
}

blockquote {
	color: $white;
	text-align: center;
	border: none;
}

input, textarea {
	display: block;
	width: 100%;
	padding: 20px 12px;
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	border: 2px solid $input-border;
	border-radius: 2px;
	background-color: $white;
	
	@include transition(background-color $animation-time);
	
	&:active, &:focus {
		background-color: $input-focus;
		outline-color: $input-border;
	}
}

button {
	padding: 8px 25px;
	color: $gray-dark;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid $gray-dark;
	border-radius: 3px;
	
	-webkit-appearance: none;
	
	&:hover, a.btn:hover {
		color: $white;
		background-color: $gray-dark;
		text-decoration: none;
	}
}

a {
	color: lighten($main-font-color, 30%);
	
	&:hover {
		color: darken($main-font-color, 30%);
		text-decoration: none;
	}
}