// colors
$white: whitesmoke;
//$main-font-color: #6D6D6D;
$headers-color: #373432;
$icon-orange: #FBA24E;
$icon-blue: #3BC2C8;
$gray: #999999;
$gray-light: #CCCCCC;

// fonts
$pacifico: Pacifico;
$common-fonts: sans-serif, Arial;
$montserrat: Montserrat, $common-fonts;
$open-sans: 'Open Sans', $common-fonts;