// colors
$background-color: whitesmoke;
//$main-font-color: #6D6D6D;
$headers-color: #373432;

// fonts
$pacifico: Pacifico;
$common-fonts: sans-serif, Arial;
$montserrat: Montserrat, $common-fonts;
$open-sans: 'Open Sans', $common-fonts;